<div class="hidden">
    <div id="elepay_info">
        {% for item in payment_methods %}
            <div class="elepay-payment-method-icon" style="background-image: url({{ item.image }})"></div>
        {% endfor %}
    </div>
</div>

<script>
$(function () {
    var $radio = $('input#shopping_payment_{{ payment_id }}');
    var $label = $radio.closest('label');
    $label.after($('#elepay_info'));
});
</script>

<style>
#elepay_info {
    padding: 15px;
}

.elepay-payment-method-icon {
    display: inline-block;
    margin-right: 8px;
    margin-bottom: 8px;
    width: 24px;
    height: 20px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
</style>